# Intellij
.idea

# Eclipse
.settings
.project
.classpath
dependency-reduced-pom.xml


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin
build
target